<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Aitoe.Vigilant.Controller.WpfController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  <log4net>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="RollingXmlFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${AppData}\\aiSentinel\\logs\\MultiControllerTxtLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingXmlFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${AppData}\\aiSentinel\\logs\\MultiControllerXmlLog.xml" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.XmlLayout" />
    </appender>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <Aitoe.Vigilant.Controller.WpfController.Properties.Settings>
            <setting name="Rows" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SortedMatrix" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeight" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="SliderPanelPinStateUrlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CpuLoadThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IsDebug" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VigilantPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsHeadersHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PollingDuration" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="IsGridOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsGridHeaderOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailFromUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailFromPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GbdbmailerDirectoryLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="GridCellsData" serializeAs="String">
                <value />
            </setting>
            <setting name="CellAspectRatio" serializeAs="String">
                <value>1.21</value>
            </setting>
            <setting name="IsExpired" serializeAs="String">
                <value>False</value>
            </setting>
        </Aitoe.Vigilant.Controller.WpfController.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
